---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 120
IndentWidth: 4
AccessModifierOffset: -4
PointerAlignment: Left
DerivePointerAlignment: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterStruct: false
  AfterNamespace: false
  AfterControlStatement: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IncludeBlocks: Preserve
NamespaceIndentation: None
FixNamespaceComments: true
InsertNewlineAtEOF: true
